@charset "UTF-8";
html,body{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    background-color: #6969ad;
    font: normal normal 2em monospace;
    color: #ffffff;
}
section{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.centrohp{
    text-align: center;
}