@charset "UTF-8";
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #111;
  color: #eee;
  font-family: "Roboto Slab", serif;
}
#obj{
  margin: 30px;
}
#res{
  margin-top: 10px ;
}

.series-frame {
  max-width: 650px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  
  border: 2px solid #eee;
  margin: 30px;
  padding: 10px;
}

.series-frame h2 {
  margin-right: 20px;
}
